html{
    background-color:olive;
}

h1{
    margin: 0px;
    text-align:center;
    font-size: large;
}

p,ul{
    color:rgb(39, 39, 0);
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
}

img.photo {
	border: 1px solid #999;
	background-color: #fcfcfc;
	padding: 4px; 
}

.navbar{
    background-color:olivedrab;
    overflow: hidden;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    padding: 8px;
    overflow: hidden;
    margin: 0 auto;
}

.navbar li{
    display: inline-block;
    float: none;
    list-style-type: none;
}

.navbar li a{
    color: rgb(39, 39, 0);    
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color:darkolivegreen;
    }
    
.style-1{
    border: 5px solid rgb(39, 39, 0);
    background-color:rgb(185, 185, 129);
    border-radius:15px;
    padding: 40px 20px 10px 20px;
    margin: 0 auto;
    width: 600px;
    color:rgb(39, 39, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.style-2{
    border: 5px rgb(39, 39, 0) dotted;
    margin:10px 0px;
    background-color:rgb(185, 185, 129);
    padding: 15px 30px;
    color:darkolivegreen;
    font-family:fantasy;
    font-size:larger;
}

.style-3{
    border: 3px dashed  rgb(39, 39, 0);
    padding: 10px 30px;
    color:rgb(39, 39, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.form{
    border: 5px solid rgb(39, 39, 0);
    background-color:rgb(185, 185, 129);
    padding: 20px;
    color:rgb(39, 39, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

@media (min-width: 800px) {
    html{
      background-color: olivedrab;
    }
    .style-1, .style-2, .style-3{
        color:darkolivegreen;
        font-size:smaller;
        line-height:20px;
    }

    p, ul{
        font-size:large;
        line-height:50px;
    }
}